.shopping {
    width: 50%;
    height: 50vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px;
    background-color: #000000;
}

.shopping__content {
    display: flex;
    justify-content: space-between;
    padding: 5px;

    font-size: 18px;

    transition: all .1s ease-in-out;
}

.shopping__content:hover {
    color: #1ed760;
    background-color: #181818;
}

.shopping__btn {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;

    background-color: #181818;
    color: #fff;
    outline: none;
    border: 0;

    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

    transition: all .1s ease-in-out;
}

.shopping__btn:hover {
    color: #1ed760;
    cursor: pointer;
}

.shopping__btn:active {
    background-color: rgb(51, 51, 51);
}

.shopping__content__amount {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-top: 5px;

    font-weight: 700;
    font-size: 20px;

    transition: all .1s ease-in-out;
}

.shopping__content__amount:hover {
    color: #1ed760;
}